pipeline { 

  environment { 
      tag = sh(returnStdout: true, script: "git rev-parse --short=10 HEAD | sed 's/[^a-zA-Z0-9]/-/g'").trim()
  }
  
  options {
        skipStagesAfterUnstable()
  }
  
  triggers { 
    githubPush() 
  }

  agent any

   
  stages { 
      stage('Cloning from Git') { 
          steps { 
              git url: 'https://github.com/fynarfin/ph-ee-env-template.git/', branch: 'master' 
          }
      } 
  

      stage('Build OAF Helm Chart') { 
          steps {
              sh 'rm -f helm/ph-ee-engine-oaf/Chart.lock helm/ph-ee-engine-oaf/requirements.lock helm/ph-ee-engine-oaf/charts/*'
              sh 'helm dep up helm/ph-ee-engine-oaf'
              sh 'helm package helm/ph-ee-engine-oaf'
              sh 'helm repo index .'
          }
      }
      
      stage('Uploading OAF Helm Chart') {
          steps {
             sh  'scp -o StrictHostKeyChecking=No -i /var/lib/jenkins/fynarfin.pem index.yaml ph-ee-engine-oaf-1.0.0-SNAPSHOT.tgz ec2-user@13.233.68.128:~/'
             sh  'ssh -i /var/lib/jenkins/fynarfin.pem -o StrictHostKeyChecking=No ec2-user@13.233.68.128 sudo mv -t /apps/apache-tomcat-7.0.82/webapps/ROOT/images/ index.yaml ph-ee-engine-oaf-1.0.0-SNAPSHOT.tgz'
          }
      }
      
         stage('Build PH-EE-ENGINE Helm Chart') { 
          steps {
              sh 'rm -f helm/ph-ee-engine/Chart.lock helm/ph-ee-engine/requirements.lock helm/ph-ee-engine/charts/*'
              sh 'helm dep up helm/ph-ee-engine'
              sh 'helm package helm/ph-ee-engine'
              sh 'helm repo index .'
          }
      }
      
      stage('Uploading PH-EE-ENGINE Helm Chart') {
          steps {
             sh  'scp -o StrictHostKeyChecking=No -i /var/lib/jenkins/fynarfin.pem index.yaml ph-ee-engine-1.0.0-SNAPSHOT.tgz ec2-user@13.233.68.128:~/'
             sh  'ssh -i /var/lib/jenkins/fynarfin.pem -o StrictHostKeyChecking=No ec2-user@13.233.68.128 sudo mv -t /apps/apache-tomcat-7.0.82/webapps/ROOT/images/ index.yaml ph-ee-engine-1.0.0-SNAPSHOT.tgz'
          }
      }

  }
  
}
      
